:root {
 --sd-primary: #051d36;
 --sd-secondary: #555555;
 --sd-accent: #9c27b0;
 --sd-positive: #0075ff;
 --sd-negative: #e30000;
 --sd-info: #00cd52;
 --sd-warning: #f2c037;
 --sd-red_99: #220000;
 --sd-red_95: #440000;
 --sd-red_90: #5e0000;
 --sd-red_85: #820000;
 --sd-red_80: #ad0000;
 --sd-red_75: #e30000;
 --sd-red_70: #fb4444;
 --sd-red_60: #ff7c7c;
 --sd-red_45: #ffb5b5;
 --sd-red_30: #ffd3d3;
 --sd-red_20: #fce6e6;
 --sd-red_15: #fcefef;
 --sd-caution_bg: #fef1f1;
 --sd-caution_icon: #fd9595;
 --sd-orange_99: #2f1100;
 --sd-orange_95: #4d1b00;
 --sd-orange_90: #752a00;
 --sd-orange_85: #9b3700;
 --sd-orange_75: #ce4900;
 --sd-orange_65: #ff6b00;
 --sd-orange_60: #ff7f22;
 --sd-orange_55: #ffa452;
 --sd-orange_45: #ffbc81;
 --sd-orange_35: #ffd5af;
 --sd-orange_20: #ffead7;
 --sd-orange_10: #fef1ea;
 --sd-header_alert: #ff7a00;
 --sd-yellow_95: #322700;
 --sd-yellow_90: #453702;
 --sd-yellow_80: #6c5602;
 --sd-yellow_70: #9c7a00;
 --sd-yellow_60: #c49900;
 --sd-yellow_50: #ebb800;
 --sd-yellow_45: #ffc700;
 --sd-yellow_40: #ffd643;
 --sd-yellow_30: #fee17c;
 --sd-yellow_25: #ffe99e;
 --sd-yellow_20: #fef1c4;
 --sd-yellow_10: #fff7dd;
 --sd-olive_95: #2c2c00;
 --sd-olive_90: #454500;
 --sd-olive_80: #636300;
 --sd-olive_70: #838300;
 --sd-olive_65: #a5a500;
 --sd-olive_55: #c7c700;
 --sd-olive_45: #dddd12;
 --sd-olive_30: #eeee37;
 --sd-olive_20: #f6f65f;
 --sd-olive_15: #fafaa1;
 --sd-olive_10: #fbfbbf;
 --sd-olive_05: #fefed9;
 --sd-green_99: #001d0b;
 --sd-green_95: #003013;
 --sd-green_90: #00461c;
 --sd-green_85: #006629;
 --sd-green_80: #007b31;
 --sd-green_75: #00973c;
 --sd-green_70: #12b553;
 --sd-green_65: #2bce6c;
 --sd-green_55: #6de39c;
 --sd-green_45: #acf4c9;
 --sd-green_25: #d4fae3;
 --sd-green_15: #e8f9ef;
 --sd-steelblue_99: #021a25;
 --sd-steelblue_95: #02212f;
 --sd-steelblue_90: #032d40;
 --sd-steelblue_85: #033f59;
 --sd-steelblue_80: #06587d;
 --sd-steelblue_75: #066d9b;
 --sd-steelblue_70: #128fc7;
 --sd-steelblue_65: #229fd7;
 --sd-steelblue_60: #50bff0;
 --sd-steelblue_45: #a4e2fd;
 --sd-steelblue_25: #d9f2fd;
 --sd-steelblue_10: #ecf8fd;
 --sd-oceanblue_99: #011428;
 --sd-oceanblue_95: #03172d;
 --sd-oceanblue_90: #051d36;
 --sd-oceanblue_85: #07284a;
 --sd-oceanblue_80: #004177;
 --sd-oceanblue_75: #025497;
 --sd-oceanblue_70: #006ac1;
 --sd-oceanblue_65: #1f8ae1;
 --sd-oceanblue_60: #5cb0f3;
 --sd-oceanblue_50: #9cd1fc;
 --sd-oceanblue_25: #d5ebfe;
 --sd-oceanblue_15: #eaf5fe;
 --sd-brilliantblue_99: #001226;
 --sd-brilliantblue_95: #001b39;
 --sd-brilliantblue_90: #002b5e;
 --sd-brilliantblue_85: #004290;
 --sd-brilliantblue_80: #005cc9;
 --sd-brilliantblue_75: #0075ff;
 --sd-brilliantblue_70: #2d8dff;
 --sd-brilliantblue_60: #64abff;
 --sd-brilliantblue_50: #93c4ff;
 --sd-brilliantblue_40: #bbdaff;
 --sd-brilliantblue_25: #d9eaff;
 --sd-brilliantblue_20: #e6f1ff;
 --sd-brilliantblue_10: #eff6ff;
 --sd-brilliantblue_05: #f5faff;
 --sd-grey_95: #222222;
 --sd-grey_90: #333333;
 --sd-grey_85: #444444;
 --sd-grey_80: #555555;
 --sd-grey_70: #737373;
 --sd-grey_65: #888888;
 --sd-grey_60: #999999;
 --sd-grey_55: #aaaaaa;
 --sd-grey_50: #bbbbbb;
 --sd-grey_45: #cccccc;
 --sd-grey_35: #d8d8d8;
 --sd-grey_30: #e1e1e1;
 --sd-grey_25: #e5e5e5;
 --sd-grey_20: #eeeeee;
 --sd-grey_10: #f6f6f6;
 --sd-grey_05: #f9f9f9;
 --sd-white: #ffffff;
 --sd-black: #000000;
}
