// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #051d36;
$secondary: #555555;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #0075ff;
$negative: #e30000;
$info: #00cd52;
$warning: #f2c037;

$red_99: #220000;
$red_95: #440000;
$red_90: #5e0000;
$red_85: #820000;
$red_80: #ad0000;
$red_75: #e30000;
$red_70: #fb4444;
$red_60: #ff7c7c;
$red_45: #ffb5b5;
$red_30: #ffd3d3;
$red_20: #fce6e6;
$red_15: #fcefef;
$Caution_Bg: #fef1f1;
$Caution_Icon: #fd9595;

$orange_99: #2f1100;
$orange_95: #4d1b00;
$orange_90: #752a00;
$orange_85: #9b3700;
$orange_75: #ce4900;
$orange_65: #ff6b00;
$orange_60: #ff7f22;
$orange_55: #ffa452;
$orange_45: #ffbb96;
$orange_35: #ffbc81;
$orange_20: #ffd5af;
$orange_10: #ffead7;

$Header_Alert: #ff7a00; // header alert

$yellow_95: #322700;
$yellow_90: #453702;
$yellow_80: #6c5602;
$yellow_70: #9c7a00;
$yellow_60: #c49900;
$yellow_50: #ebb800;
$yellow_45: #ffc700;
$yellow_40: #ffd643;
$yellow_30: #fee17c;
$yellow_25: #ffe99e;
$yellow_20: #fef1c4;
$yellow_10: #fff7dd;

$olive_95: #2c2c00;
$olive_90: #454500;
$olive_80: #636300;
$olive_70: #838300;
$olive_65: #a5a500;
$olive_55: #c7c700;
$olive_45: #dddd12;
$olive_30: #eeee37;
$olive_20: #f6f65f;
$olive_15: #fafaa1;
$olive_10: #fbfbbf;
$olive_05: #fefed9;

$green_99: #001d0b;
$green_95: #003013;
$green_90: #00461c;
$green_85: #006629;
$green_80: #007b31;
$green_75: #00973c;
$green_70: #12b553;
$green_65: #2bce6c;
$green_55: #6de39c;
$green_45: #acf4c9;
$green_25: #d4fae3;
$green_15: #e8f9ef;

$steelblue_99: #021a25;
$steelblue_95: #02212f;
$steelblue_90: #032d40;
$steelblue_85: #033f59;
$steelblue_80: #06587d;
$steelblue_75: #066d9b;
$steelblue_70: #128fc7;
$steelblue_65: #229fd7;
$steelblue_60: #50bff0;
$steelblue_45: #a4e2fd;
$steelblue_25: #d9f2fd;
$steelblue_10: #ecf8fd;

$oceanblue_99: #011428;
$oceanblue_95: #03172d;
$oceanblue_90: #051d36;
$oceanblue_85: #07284a;
$oceanblue_80: #004177;
$oceanblue_75: #025497;
$oceanblue_70: #006ac1;
$oceanblue_65: #1f8ae1;
$oceanblue_60: #5cb0f3;
$oceanblue_50: #9cd1fc;
$oceanblue_25: #d5ebfe;
$oceanblue_15: #eaf5fe;

$brilliantblue_99: #001226;
$brilliantblue_95: #001b39;
$brilliantblue_90: #002b5e;
$brilliantblue_85: #004290;
$brilliantblue_80: #005cc9;
$brilliantblue_75: #0075ff;
$brilliantblue_70: #2d8dff;
$brilliantblue_60: #64abff;
$brilliantblue_50: #93c4ff;
$brilliantblue_40: #bbdaff;
$brilliantblue_25: #d9eaff;
$brilliantblue_20: #e6f1ff;
$brilliantblue_10: #eff6ff;
$brilliantblue_05: #f5faff; // table-title

$grey_95: #222222;
$grey_90: #333333;
$grey_85: #444444;
$grey_80: #555555;
$grey_70: #737373;
$grey_65: #888888;
$grey_60: #999999;
$grey_55: #aaaaaa;
$grey_50: #bbbbbb;
$grey_45: #cccccc;
$grey_35: #d8d8d8;
$grey_30: #e1e1e1;
$grey_25: #e5e5e5;
$grey_20: #eeeeee;
$grey_10: #f6f6f6;
$grey_05: #f9f9f9;

$th-bg: #f5faff; // rfid s-table 변경 시 삭제
$td-button: #fafafa; // 판매처 상품 매칭
